/* sidebar.component.css */
#sidebar {
  width: 300px;
  height: 100%;
  background-color: #333;
  color: #fff;
  padding: 20px;
}

nav {
  text-align: center;
  padding-bottom: 20px;
}

nav h2 {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 20px;
}

a {
  color: #fff;
  text-decoration: none;
}

h2 {
  padding-top: 20px;
  padding-bottom: 50px;
}