<div class="container">
	<table class="table table-striped">
			<thead>
					<tr>
							<th>Código</th>
							<th>Fecha</th>
							<th>Proveedor</th>
							<th></th>
							<th></th>
					</tr>
			</thead>
			<tbody>
					<tr *ngFor="let item of listaOrden">
							<td>{{item.codigo}}</td>
							<td>{{item.fecha}}</td>
							<td>{{item.proveedor.nombre}}</td>
						
							<td>
									<button type="button" class="btn btn-warning" (click)="editar(item.codigo)">Editar</button>
							</td>
							<td>
									<button type="button" class="btn btn-danger" (click)="eliminar(item.codigo)">Eliminar</button>
							</td>
							<td>
								<button>Detalles</button>

							</td>
					</tr>
			</tbody>
	</table>
</div>