<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Stock</th>
                <th>Categoría</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of listaProductos">
                <td>{{item.codigo}}</td>
                <td>{{item.nombre}}</td>
                <td>{{item.precio}}</td>
                <td>{{item.stock}}</td>
                <td>{{item.categoria.nombre}}</td>
                <td>
                    <button type="button" class="btn btn-warning" (click)="editar(item.codigo)">Editar</button>
                </td>
                <td>
                    <button type="button" class="btn btn-danger" (click)="eliminar(item.codigo)">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>